<ul>
    <li>
      <b>  <a routerLink="/home" routerLinkActive="active">HOME</a></b>
    </li>

    <li>
        <b> <a routerLink="/skills" routerLinkActive="active">SKILLS</a></b>
    </li>
    <li>
        <b> <a routerLink="/socialmedia" routerLinkActive="active">SOCIALMEDIA</a></b>
    </li>
    <li>
        <b>  <a routerLink="/contact" routerLinkActive="active">CONTACT</a></b>
    <li>
        <b>  <a routerLink="/services" routerLinkActive="active">SERVICES</a></b>
    </li>
    <li>
        <b><a routerLink="/education" routerLinkActive="active">EDUCATION</a>  </b>
    </li>
    <li>
        <b> <a routerLink="/about" routerLinkActive="active">ABOUT</a></b>
    </li>