<h3>UNIVERSITY</h3><br>
B.Tech
(ECE)  <br>
Pondicherry
Technological
University<br>
Pondicherry
Puducherry
university<br>
2019-2023 <br>7.8
<h3>INTERMEDIATE JEE MAINS</h3><br>
Jee Mains
Score(inter 1-2)<br>
Sri Chaitanya
junior College<br>
Vijayawada<br>
NTA<br>
(ALEEE)<br>
2019<br> 96.53/100
<h3>INTERMEDIATE</h3><br>
intermediate<br>
(M.P.C)
Sri Chaitanya<br>
junior College
Vijayawada.<br>
Board of
intermediate<br>
2017-2019 <br>9.13/10<br>
<h3>SSC SCHOOL</h3><br>
S.S.C Sri Chaitanya techno
school<br>
Vijayawada<br>
Board of
Secondary
Education<br>
2016-2017 <br>7.8/10.