<h1>SERVICE</h1>
<p>Full stack development designing, creating and
    deploying a complete web application from start to finish. It involves working
    with various technologies and tools, including front-end web development, back-end web
    evelopment, and database development</p>
<div class="intro1">
    <h1>Web Design</h1>
    <p>
        Responsible for creating the design and layout of
        a website or web pages to creating new websitesand
        focus on the visual aspects of a site, layout and its usability
    </p>

</div>
<div class="intro2">
    <h1>Web Developer</h1>
    <p>
        Design the websites They ensure that sites
        meet user expectations by ensuring look good,
        access points with no loading issues between pages or error messages.
    </p>
    <div>
        <h1>MY RESUME</h1>
        <b>NAME: DAMODARA DINESH KUMAR.</b><br>
        ✉ :ganeshcadurigmail.Com<br>
        ✆ : 7569995841<br>
        <h3><u>Career Objective :</u><br></h3>
        To get placed incorporate sector company which gives mean opportunity to improve my skills
        and knowledge along with the growth of the compan
        <h3><b>PROJECTS :</b></h3>
        •Project Name1 : CUSTOMISED AI TOOL FOR AD DETECTION<br>
             Role : Team Leader<br>
                 Description : The main objective of this project is to aid the doctors in detecting
                    AD in patients more quickly than the normal long interrogation process, and to
                    provide early and quick diagnosis of the patient level of dementia<br>
                    • Project Name2 : COMPUTER SOLUTIONS WEB PAGE<br>
                         Description : Using Html,Css and Bootstrap<br>
                            • Project Name3 : USING TEMPLATE&REACTIVE FORMS USING ANGULAR<br>
                                 Description : Using Angular<br>
                                    •Project Name4v : ADO.NET CON THROUGH DB SSMS- LOGIN PAGE,CALCULATOR.<br>
                                         Description : Using Window Forms,SSMS,ADO.NET<br>
                                            •Project Name5 : ONLINE FAST FOOD BILLING MANAGEMENT<br>
                                                 Description : Using asp.net in it page life cycle,validations,data
                                                    controls,state
                                                    management,multi view,web.config<br>
                                                    •ProjectName6:MY PORTFOLIO<br>
                                                         Description :Shows the profile data in a respective manner
                                                            of user data by
                                                            using angular.
                                                            <div>
<h3> Co-curricular activities &Achievements:</h3><br>
• Participated in Fine Arts Club in our college got Prizes in<br>
▪ Drawing
▪ Pencil drawing
▪ Cartooning<br>
• Anti narcotics cell Awareness Program, Cultural Fest and Digi Fest<br>
▪ Volunteer<br>
• Participated in our college Electronics Club<br>
• Class Cr & Tnp Placement Co-ordinator.
</div>
<div>
    <h3>Strength:</h3><br>
• Ability to grasp new skills quickly<br>
• Team work skills<br>
• Can execute a task within given time.
</div>
<div>
   <h3> HOBBIES:</h3><br>
• Listening music<br>
• Travelling.<br>
<h3>Languages known :</h3><br>
• Telugu , English , Tamil.<br>
</div>
<div>
 <h3>   Profile Details:</h3><br>
• Name          : Damodara Dinesh Kumar<br>
• Father Name   : Damodara Venkata Satyanarayana<br>
• Date of Birth : 29-08-2001<br>
• Birth Marital : Single<br>
• Aaadhar Num   : 9443 6786 4493<br>
• Address       : D.no 115-5-308,kolamuru,<br>
                  Air Port Road, Rajamahendravaram,<br>
                  East Godavari Dist,<br>
                  Andhra Pradesh-533102
                
                
                





</div>